{% extends 'header.html' %} 

{% block mycontent %} 
<h1 align="center" style="color: blue;">Delete Items</h1>
<div class="container">
    <div class="row">
        <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
           <form action="http://127.0.0.1:8000/products/deleteapi/" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td style="color: blue;"> <b>Product Name </b></td>
                    <td><input name="productname" type="text" class="form-control"></td>
                </tr>
                
                <tr>
                    <td></td>
                    <td align="center"><button type="submit" class="btn btn-success">SEARCH</button></td>
                </tr>
            </table>
        </form>

            {% if data %} 
            <form action="http://127.0.0.1:8000/products/deletedata/" method="post">
                <table class="table table-borderless table-striped">
                    {% for i in data %}
    
                    <tr>
                        <td style="color: blue;"></td>
                        <td style="color: blue;"><input name="newid" value="{{i.id}}" type="hidden" class="form-control"></td>
                    </tr>
                   
                    <tr>
                        <td style="color: blue;">Name</td>
                        <td style="color: blue;"><input name="newname" value="{{i.productname}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Description</td>
                        <td style="color: blue;"><input name='newDescription' value="{{i.discription}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Price</td>
                        <td style="color: blue;"><input name="newprice" value="{{i.price}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Manufacturer</td>
                        <td style="color: blue;"><input name="newManufacturer" value="{{i.manufacturer}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">manufacturing Date</td>
                        <td style="color: blue;"><input name="newmanufacturingdate" value="{{i.manufacturingdate}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td style="color: blue;">Expiry Date</td>
                        <td style="color: blue;"><input name="newexpirydate" value="{{i.expirydate}}" type="text" class="form-control"></td>
                    </tr>
    
                    <tr>
                        <td></td>
                        <td align="center"><button type="submit" class="btn btn-danger">Delete</button></td>
                    </tr>
    
    
    
                    {% endfor %} 
                </table>
            </form>

           {% endif %}

    </div>
    </div>  
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
</div>

{% endblock   %}
    