{% extends 'header.html' %}

{% block mycontent %}
<style>
    body{
        background-image: url('https://cdn.pixabay.com/photo/2018/11/12/19/49/icon-3811599_960_720.png');
    }
</style>
    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <form action="add/" method="post">
                <table class="table table-borderless">
                    <center>
                    <h1 style="color: blue;"> ADD-PRODUCT</h1>
                    </center>
                    <tr>
                        <!-- "productname","discription","price","manufacturer","manufacturingdate","expirydate" -->

                        <td style="color: blue;"><b>Product Name</b></td>
                        <td><input name="productname" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Discription</b></td>
                        <td><input name="discription" type="text" class="form-control"></input></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Price</b></td>
                        <td><input name="price" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Manufacturer</b></td>
                        <td><input name="manufacturer" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b>Manufacturing Date</b></td>
                        <td><input name="manufacturingdate" type="date" class="form-control"></td>
                    </tr>
                    <tr>
                        <td style="color: blue;"><b> Expiry Date </b></td>
                        <td><input name="expirydate" type="date" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center"><button class="btn-success ">ADD</button></td>
                    </tr>
                </table>
            </form>
            </div>
               
                <div class="col col-2 col-sm-2 col-lg-2 col-xl-2 col-xxl-2">

                </div> 
            </div> 
    </div>   
{% endblock %}